<div class="image">
  <img class="longPic" src="http://imgprix.com/web/wallpapers/colorful-sky-ocean/1920x1080.jpg">
  <%= link_to "Home", root_path, class: "homeButton" %>
  <%= link_to "About", static_pages_about_path, class: "aboutButton" %>
</div>

<div class="container">
<h2 class="aboutTitle">About the Cause</h2>
<p class="aboutContent">
  Well howdy everyone! This is my blog, about Iron Men, and other questionable fantasies. I enjoy getting no sleep and waking up at incredibly unreasonable hours. If you can't tell I don't have much to write so I'm making it up as I go. If I was a boy, something cause I'm Riahnna, and I really do not know how to spell that name! Woooh! 
</p>
</div>